spring:
  application:
    name: courses-service
  config:
    import: optional:configserver:http://localhost:8888
server:
  port: 8101
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka